 .bigboy{
margin: 0px 0px 0px ;
margin-bottom: 100px;
font-size: 35px;
}
.boys .event1{
    margin: 0px 0px 0px 757px;
    margin-bottom: 40px;
    margin-top: 400px;
    font-size: 266px;
    color: black;
    }
.login{
    position: fixed;
    top: 14;
    right: 15;
    font-size: 26px;
   
}
.create_account{
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    position: fixed;
    top: 67;
    right: 15;
    font-size: 26px;
}
.comeon{
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    position: fixed;
    top: 67;
    right: 15;
    font-size: 26px;

}
.logout{
    position: fixed;
    top: 14;
    right: 15;
    font-size: 26px;
}

.jomomma{
    color: rgb(248, 61, 89);
   
}


.markhenry{
    color: rgb(62, 57, 215);
}
.john{
    border-style: groove;
    border-radius: 5%;
    border-color: aqua;
    background-color: black;
}
.mrflamigo{
    margin-left: 100px;;
}